:root {
  --primary-color: rgb(52, 52, 52);
  --secondary-brand-color: rgb(191, 230, 240);
  --primary-text-color: rgb(164, 164, 164);
  --hover-state: rgb(245, 245, 245);
}
/* Media Queries for Small Screens */
@media (max-width: 768px) {
  header {
    position: fixed;
    position: sticky;
  }
  .top-nav  {
    display: none;
  }
  .logo {
    width: 100vw;
    text-align: center;
    font-size: 1.5rem
  }
  .cta-btn {
    align-self: center;
    align-items: center;
    position: relative;
    justify-items: center;
  }
  .about-top {
    display: inline-flex;
    justify-content: space-evenly;

    border: 1px solid black;
  }
  .leaning-img {
    width: 50%;
    display: inline-flex;
    object-fit: fill;
    border: 1px solid black;
  }
  p {
    border: 1px solid black;
    padding: 0.5rem;
  }

  .first-text {
    width: 50%;
    display: block;
    align-content: flex-end;
  }
  
  .self-mastery {
    width: 50%;
  }
  .book-img {
    width: 50%;
  }

}

/* Media Queries for Small Screens */
@media (min-width: 769px) {
  .logo {
    font-size: 1.25rem;
  }
}
html {
  background: var(--primary-color);
  color: var(--primary-text-color);
  margin: 0;
  font-family: sans-serif;
}

/* All Purpose CSS */

header {
  display: flex;
  position: sticky;
  margin-bottom: 1px solid black;

}

a {
  text-decoration-line: none;
  color: var(--primary-text-color);
}
.top-nav {
  width: 70vw;
}

.logo {

  align-self: center;
}

.top-nav ul li {
  text-decoration: none;
  display: inline;
  margin-left: 0.75rem;
  padding: 0.5rem;
  margin-right: 0;
}

li:hover {
  text-decoration: none;
  border-bottom: 1px solid black;
}

li:visited {
  color: black;
}

h3 {
  color: var(--secondary-brand-color);
  text-align: center;
}

.cta-btn {
  background: var(--secondary-brand-color);
  border-radius: 5px;
  border: 1px;
  border-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

.cta-btn a {
  font-weight: semi-bold;
  color: black;
}

.cta-btn:hover {
  background: var(--hover-state);
  color: var(--primary-text-color);
  transition-duration: 600ms;
  border: none;
}

.content-section {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  border-width: 90%;
}