
:root {
  --primary-color: rgb(52, 52, 52);
  --secondary-brand-color: rgb(191, 230, 240);
  --primary-text-color: rgb(164, 164, 164);
  --hover-state: rgb(245, 245, 245);
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: #111;
}

.headline {
  text-align: center;
  padding: 1rem 0;
  background: #444;
  color: var(--secondary-brand-color);
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  font-weight: 300;
  width: 20%;
  margin-top: 0;
}

.tablink:hover {
  background-color: #777;
}
.tablink:focus {
  background-color: #666
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: var(--primary-text-color);
  display: none;
  padding: 4rem 2rem;
  height: 110vh;
  font-size: 1.25rem;
}



.section-headline {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: var(--secondary-brand-color);
}

.section-content {
  padding-bottom: 2rem;
}

@media (max-width: 420px) {
  .section-content {
    display: block;
    background: red;
  }
}
@media (min-width: 760px) {
  .section-content {
display: flex;
  justify-content: space-around;
  align-items: flex-start;
  }
}


.vito-img {
  object-fit: contain;
  width: 45vw;
}

.verbage {
  display: block;
  padding: 0 2rem;
  
}

.verbage-text {
  padding-bottom: 1.5rem;
}

.vital-points {
  padding-top: 4rem;
  display: flex;
  padding: 4rem 1.5rem 3rem 1.5rem;
  border-bottom: 1px solid var(--secondary-brand-color);
}

.nlp-images {
  width: 45vw;
  object-fit: contain;
  align-self: start; 
}


.cta-btn {
  background: var(--secondary-brand-color);
  border-radius: 5px;
  border: 1px;
  border-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

.cta-btn a {
  font-weight: semi-bold;
  color: black;
  text-decoration: none;
}

.cta-btn:hover{
  background: var(--hover-state);
  transition-duration: 600ms;
  border: none;
  cursor: pointer;

}

.cta-btn a:hover {
  border-bottom: none;
  color: black;
}

.media-content {
  text-align: center;
  
}

.media-headline {
  color: var(--secondary-brand-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.media-text {
  width: 45vw;
  padding-bottom: 1rem;

}
.media-img-container {
  width: 55vw;
  text-align: center; 
}
.course-img-container {
  padding: 1.5rem;
  width: 50vw;
  text-align: center; 
}

.course-img-container img {
  width: 30vw;
}





