:root {
  --primary-color: rgb(0, 5, 21);
  --secondary-brand-color: rgb(191, 230, 240);
  --primary-text-color: rgb(164, 164, 164);
  --logo-grey-dark: rgb(111, 112, 114);
  --logo-grey-light: rgb(253, 253, 253);
  --logo-blue-dark: rgb(0, 122, 200);
  --logo-blue-light: rgb(0, 163, 241);
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: var(--primary-color);
  font-family: 'Raleway';
}
.header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.headline {
  text-align: center;
  padding: 1rem 0;
  background: var(--primary-color);
  margin: 0;
}

.banner-img {
  width: 50%;
  height: 10%;
}

.tab-region {
  background: var(--primary-color)
}

/* Style tab links */
.tablink {
  background-image: linear-gradient(0deg, var(--logo-grey-dark), var(--logo-grey-light), var(--logo-grey-dark));
  color: var(--primary-color);
  float: left;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  font-weight: 400;
  width: 20%;
  margin: 0;
}

.tablink:hover {
  background-image: linear-gradient(0deg, var(--logo-blue-dark), var(--logo-blue-light), var(--logo-blue-dark));
  outline: 1px solid var(--primary-color)
  transition-duration: 100ms;
  
}


/* Style the tab content (and add height:100% for full page content) */
.empty-zone {
  width: 100vw;
  height: 10rem;
}
.social-section {
  margin: 2rem 0;
  padding-bottom: 2rem;
}
.social-btn {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 5px;
  background-image: linear-gradient(0deg, var(--logo-blue-dark), var(--logo-blue-light), var(--logo-blue-dark));
  border: 1px;
  border-color: var(--secondary-color);
  margin: 0 0.5rem;
  cursor: pointer;
}

.social-btn:hover {
  background-image: linear-gradient(0deg, var(--logo-blue-dark), var(--logo-blue-light));
}

.tabcontent {
  color: var(--primary-text-color);
  display: none;
  padding: 1rem 2rem;
  height: 110vh;
  font-size: 1.25rem;
  text-align: center;
  
}

.section-headline {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  background-image: linear-gradient(0deg, var(--logo-blue-dark), var(--logo-blue-light), var(--logo-blue-dark));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: contain;
}

.section-content {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.vito-img {
  object-fit: contain;
  width: 45vw;
  border-radius: 10px;
}

.verbage {
  display: block;
  padding: 0 2rem;
  
}

.verbage-text {
  padding-bottom: 1.5rem;
}

.vital-points {
  display: flex;
  padding: 4rem 1.5rem 3rem 1.5rem;
  border-bottom: 1px solid var(--logo-blue-light);
}
@media (max-width: 768px) {
  .empty-zone {
  width: 100vw;
  height: 4rem;
}
  .headline {
    font-size: 1.5rem;
  }
  .tablink {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .clip {
    display: none;
  }
  .tabcontent {
    padding: 6rem 1rem;
  }
  .section-content {
    flex-wrap: wrap;
  }
  .vito-img {
    width: 65vw;
    padding-bottom: 0.5rem;
  }
  .verbage {
    padding: 0 1rem;
  }
  .verbage-text {
    padding-bottom: 0rem;
  }
  .vital-points {
    padding: 1rem;
    flex-wrap: wrap;
    order: 1;
  }
  
}


.nlp-images {
  width: 45vw;
  object-fit: contain;
  align-self: start; 
  border-radius: 10px;
}
@media (max-width: 768px) {
  .nlp-images {
    order: 2;
    text-align: center;
    width: 100%;
    padding-bottom: 1.5rem;
  }
}


.cta-btn {
  background-image: linear-gradient(0deg, var(--logo-blue-dark), var(--logo-blue-light), var(--logo-blue-dark));
  border-radius: 10px;
  border: 1px;
  border-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

.cta-btn a {
  font-weight: semi-bold;
  color: black;
  text-decoration: none;
}

.cta-btn:hover{
  background: linear-gradient(0deg, var(--logo-blue-light), var(--logo-blue-dark));
  transition-duration: 100ms;
  border: none;
  cursor: pointer;
}

.cta-btn a:hover {
  border-bottom: none;
  color: black;
}

.media-content {
  text-align: center;
  padding: 0 1rem;
}

.media-headline {
  color: var(--secondary-brand-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.media-text {
  width: 45vw;
  padding-bottom: 1rem;
  text-align: center;

}
.media-img-container {
  width: 50vw;
  text-align: center; 
}

@media (max-width: 786px) {
  .media-text {
    width: auto;
    order: 1;
  }
  .media-img-container {
    order: 2;
    padding: 1rem 0;
    width: 100vw;
    object-fit: contain;
  }
  .media-img {
    width: 75vw;
    border-radius: 10px;
  }
  .spreaker-player {
    width: 90%;
  }
}
.course-img-container {
  padding: 1.5rem;
  width: 50vw;
  text-align: center; 
}

.course-img {
  width: 30vw;
  height: auto;
  border-radius: 10px;
  
}

@media (max-width: 769px) {
  .course-img-container {
    width: 100vw;
  }
  .course-img {
    width: 60vw;
  }
  .connect-img {
    width: 70vw;
  }
}
